<div style="margin-top: 2rem; margin-bottom: 2rem">
    <form onsubmit={{this.search}}>
    <input class="inpt" type="text" value={{this.word}} oninput={{this.update}} placeholder="Enter any word" required>
    <button class="search" type="submit">Search</button>
    </form>
</div>
{{!-- <Display @word={{this.word1}} @description={{this.result}}/> --}}

<Display/>